* {margin: 0; padding: 0;}
li {list-style: none;}
html {scroll-behavior: smooth;}
body{cursor: default;}
section {width: 100%; height: 1080px;}
body::-webkit-scrollbar {width: 15px;}
body::-webkit-scrollbar-thumb {background-color: #272727;}
body::-webkit-scrollbar-track {background-color: rgb(236, 236, 236);}

.custom-cursor {pointer-events: none;}
.main {
    width: 100%;
    height: 1080px;
    background-image: url(image/bg_grid.png);
    overflow: hidden;
}

.navigation {transition: .3s; width: 100%; height: 70px; position: fixed; background-color: transparent; z-index: 99;}
.navigation .nav {display: flex; justify-content: space-between; width: 1500px; margin: 0 auto;}
.navigation .nav li {margin-top: 20px;}
.navigation .nav a {transition: .3s; color: #272727; font-family: Noto Sans Kr; font-size: 18px; font-weight: 800; text-decoration: none;}
/* 스크롤됐을때 배경색/글자색 변하게 */
.navigation.scrolled {background-color: #272727;}
.navigation.scrolled .nav a {color: #fff;}

.main .inner {position: relative;}
/* 타이틀/설명글 이미지 위치 설정 */
.main .inner .title1 {position: absolute; top: 300px; left: 50%; transform: translate(-50%, -50%);}
.main .inner .text1 {position: absolute; top: 720px; left: 50%; transform: translate(-50%, -50%); /* border: 3px solid #272727; padding: 30px 50px 20px 50px; border-radius: 70px;*/}
.main .inner {width: 1520px; height: 1080px; margin: 0 auto;}

/* 풍선 글씨 위치 설정 */
.main .inner .blnwrap {position: relative; height: 500px; width: 1500px; margin: 0 auto;}
.main .inner .blnwrap .mainbln01 {position: absolute;top: 330px;left: -30px; z-index: 2;}
.main .inner .blnwrap .mainbln02 {position: absolute;top: 340px;left: 180px;z-index: 2;}
.main .inner .blnwrap .mainbln03 {position: absolute;top: 350px;left: 320px;z-index: 2;}
.main .inner .blnwrap .mainbln04 {position: absolute;top: 350px;left: 495px;z-index: 4;}
.main .inner .blnwrap .mainbln05 {position: absolute;top: 360px;left: 640px;z-index: 3;}
.main .inner .blnwrap .mainbln06 {position: absolute;top: 350px;left: 665px;z-index: 2;}
.main .inner .blnwrap .mainbln07 {position: absolute;top: 330px;left: 950px;z-index: 1;}
.main .inner .blnwrap .mainbln08 {position: absolute; top: 400px; left: 1190px;}

.balloon {transform-origin: center center; position: absolute;}
.bln01 {top: 260px; left: -115px; position: relative;}


/* 스크롤다운 아래 화살표 */
.container {
    margin-top: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}
.arrow {
    width: 0;
    height: 40px;
    border: 1px solid #333;
    position: relative;
    animation: scroll 1.5s infinite;
    -webkit-animation: scroll 1.5s infinite;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: -5px;
        width: 1px;
        height: 10px;
        
        border-top: 10px solid #333;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}

@keyframes scroll {
    0% {height: 40px;}
    30% {height: 70px;}
    60% {height: 40px;}
}
@-webkit-keyframes scroll {
    0% {height: 40px;}
    30% {height: 70px;}
    60% {height: 40px;}
}

/* about 섹션 설정 */
.about {
    width: 100%;
    height: 1080px;
    background-image: url(image/bg_grid.png);
    background-repeat: no-repeat;
}

.about .inner {position: relative;}
.about .inner .title2 {position: absolute; top: 210px; left: 755px;}
.about .inner .title3 {position: absolute; top: 320px; left: 720px;}
.about .inner .text2 {position: absolute; top: 610px; left: 767px;}
.about .inner .text2 p {font-family: Noto Sans Kr; font-size: 34px; line-height: 44px; font-weight: 600; color: #272727;}

/* 커서 효과 */
.about .inner #dynamic {
    position: relative;
    display: inline-block;
    font-size: 34px;
}
/* 커서 모양 */
.about .inner #dynamic::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: #272727;
}

.about .inner #dynamic.active::after{display: none;}
.profile {position: absolute; left: 270px; top: 170px;}
.bln02 {position: absolute; left: 1500px; top: -180px;}
.bln03 {position: absolute; left: 150px; top: 70px;}
.bln04 {position: absolute; left: 670px; top: 230px;}


/* skills 섹션 설정 */
.skills {
    width: 100%;
    height: 1000px;
    background-image: url(image/bg_grid.png);
}
.skills .inner {position: relative;}
.skills .inner .title5 {
    position: absolute;
    top: 65px;
    left: 190px;
}
.bln09 {
    position: absolute;
    top: 65px;
    left: 50px;
}

/* 학력, 설명 적는 박스 3개 */
.desc {
    width: 1500px;
    margin: 0 auto;
    padding-top: 385px;
    display: flex;
    justify-content: space-between;
}
.desc .box_left {
    float: left;
    backdrop-filter: blur(25px);
    background-image: url(image/bg_grid.png);
    background-position: 31px -611px;
    border: 2px solid #272727;
    width: 730px;
    height: 450px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px 40px;
    color: #272727;
    font-family: Noto Sans Kr;
    font-size: 24px;
}
.desc .box_right .top {
    background-color: transparent;
    border: 2px solid #272727;
    width: 730px;
    height: 180px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px 40px;
    color: #272727;
    font-family: Noto Sans Kr;
    font-size: 24px;
}
.desc .box_right .bottom {
    background-color: transparent;
    width: 730px;
    height: 235px;
    border-radius: 20px;
    margin-top: 30px;
}
.desc span {
    font-weight: 800;
    margin-right: 30px;
}

/* 무한 스크롤링 배너 디자인 */
.tag-scrollers {
	width: 100%;
	overflow: hidden;
    position: absolute;
    top: 615px;
}
.tag-scroller {
	display: grid;
	gap: 1.5rem;
}
.tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
@media (prefers-reduced-motion) {
	.tag-list {
		flex-flow: row nowrap;
		overflow: auto;
		scrollbar-width: none;
		scrollbar-color: transparent transparent;
	}
	.tag-list::-webkit-scrollbar-track {
		background: transparent;
	}
	.tag-list::-webkit-scrollbar-thumb {
		background: transparent;
	}
	.tag-list::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}
}
.tag-list li {
	font-family: Noto Sans Kr;
	font-size: 36px;
    font-weight: 400;
	line-height: 1;
	padding: 15px 40px 18px 40px;
    color: #272727;
	border: 2px solid #272727;
	border-radius: 50px;
	white-space: nowrap;}
.tag-list .darken {
    background-color: #272727;
    color: #fff;
    font-weight: 300;}
.tag-scroller.scrolling .tag-list {
	width: max-content;
	flex-wrap: nowrap;
	animation: horizontal-scroll var(--duration) var(--direction, normal) linear infinite;}
.tag-scroller.scrolling .tag-list:nth-child(even) {--direction: reverse;}
/* 마우스오버 시 정지 */
.tag-scroller:hover .tag-list {animation-play-state: paused;}
@keyframes horizontal-scroll {
	to {
		transform: translateX(calc(-50% - .75rem));
	}
}


/* 프로젝트 섹션 설정 */
.projects {
    width: 100%;
    height: 1078px;
    background-image: url(image/bg03.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.projects .inner {width: 1520px; margin: 0 auto; height: 1275px; position: relative;}

.projects .inner .swiper {
    width: 100%;
    height: 90%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bln05 {position: absolute; top: 20px; right: -40px;}
.bln06 {position: absolute; top: 690px; left: -120px;}

.box {width: 467px; height: 650px; margin: 10px; margin-top: 250px; background-color: #CCC; border-radius: 20px; float: left; overflow: hidden;}
.box img {width: 100%; filter: saturate(0);}
.box:hover {transition: .3s;}
.box img:hover {transition: .8s; filter: saturate(1);}


/* 컨택트 섹션 설정 */
.contact {
    width: 100%;
    height: 1080px;
    background-image: url(image/bg_grid.png);
    overflow: hidden;
}

.contact .inner {width: 1520px; margin: 0 auto; height: 1280px; position: relative;}
.contact .inner .title4 {position: absolute; top: 120px; left: -30px;}

input {font-size: 25px; box-sizing: border-box; padding: 10px 30px; color: #333;}

.contact .type p {font-family: Noto Sans Kr; font-size: 24px; font-weight: bolder; color: #333; margin-bottom: 10px;}
.contact .type {position: absolute; left: 17px; top: 450px;}
.contact .type .email input {width: 360px; height: 55px; border: 2px solid #333; border-radius: 50px; background-color: transparent;}
.contact .type .text input {width: 682px; height: 205px; border: 2px solid #333; border-radius: 25px; background-color: transparent; margin-top: 20px;}
.contact .type .send button {
    transition: .3s;
    color: #333;
    font-family: Noto Sans Kr;
    font-size: 20px;
    margin-left: 510px;
    margin-top: 15px;
    width: 170px; height: 55px;
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 50px;
    cursor: pointer;
}
.contact .type .send button:hover {
    color: #fff;
    background-color: #333;
}
.contact .type .send button:active {
    color: #fff;
    background-color: #707070;
    border: 2px solid #707070;
}


.bln07 {position: absolute; top: 120px; right: 150px;}
.bln08 {position: absolute; top: 470px; left: 760px;}

.contact .inner .icons {position: absolute; bottom: 410px; right: -30px; width: 500px; cursor: pointer;}
.sns:hover {transform: scale(1.1);}
.sns {transition: .3s; float: left; margin: -15px;}

.footer {
    width: 100%;
    height: 200px;
    background-color: #272727;
    overflow: hidden;
    color: #fff;
}

.footer .inner {
    width: 320px;
    margin: 0 auto;
    margin-top: 30px;
    font-family: Noto Sans Kr;
    font-size: 24px;
    font-weight: 300;
}

/* ScrollTrigger에 사용되는 CSS */
.magic-slide {opacity: 0; transition: 1s;}
.magic-slide.to-up {transform: translateY(-150px);}
.magic-slide.to-down {transform: translateY(150px);}
.magic-slide.to-right {transform: translateX(-150px);}
.show .magic-slide {opacity: 1; transform: translateY(0);}
.show .magic-slide.delay-0 {transition-delay: 0s;}
.show .magic-slide.delay-1 {transition-delay:0.3s;}
.show .magic-slide.delay-2 {transition-delay:0.6s;}
.show .magic-slide.delay-3 {transition-delay:0.9s;}
